body {
    background-color: grey;
    color: black;
}
.clovek {
    background-color: beige;
}
.ufon {
    background-color: green;
}
.martan{
    background-color: blue;
}
.neznama{
    background-color: red;
}
